.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.catch
{
    margin-top: 10%;
    font-size: 4em;
    font-family: Georgia, Times, serif;
}