{% extends "layout.html" %}

{% block title %}
    About Us
{% endblock %}

{% block main %}
    <div class="aboutUs">
        <h2>About Us</h2>
        <p>This site was created by Alex Barnes as the final project for Harvard's CS50 edX course.</p>
        <p>The hope was to create a site that is easy to navigate to assist<br>anyone and everyone with their personal budgeting.</p>
    </div>
    
    <div class="team">
        <h3>Meet Our Team</h3>
        <img src="https://avatars3.githubusercontent.com/u/20268926?v=3&u=9d14a74c3fcc8ce46466a13c5eb0a362e9f6ec47&s=400" class="img-circle center-block img-responsive">
        <div class="caption">
            <strong>Alex Barnes</strong>
            <p>Site Creator</p>
        </div>
    </div>
    
{% endblock %}