{% extends "layout.html" %}

{% block title %}
    Budget
{% endblock %}

{% block main %}
    <form action="{{ url_for('budget') }}" method="post" class="form-horizontal">
        <fieldset>
            <h2>{{ username }}'s Budget</h2>
            <h4 id="monthTitle">{{monthTitle}}</h4>
            <div class="form-group form-inline">
                <div class="col-sm-2"></div>
                <div class="col-sm-7">
                    <label>Year-Month</label>
                    <input class="form-control" type="month" value="{{ currMonth }}" id="month" name="month" max="{{ monthMax }}" min="{{ monthMin }}" required>
                    <a href=# id="set_month" class="btn btn-primary" role="button">Set Month</a>
                </div>
            </div>
        </fieldset>
        <fieldset class="budgetInfo">
            <div class="form-group">
                <label for="e_income" class="control-label col-sm-2">Income</label>
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <input class="form-control" type="number" min="0" value="{{ e_income }}" step="0.01" placeholder="Enter expected income" id="e_income" name="e_income">
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <input class="form-control" type="number" min="0" step="0.01" value="{{ a_income }}" placeholder="Enter actual income" id="a_income" name="a_income" onchange="smileChange();">
                </div>
            </div>
            
            <div class="form-group">
                <label for="e_rent" class="control-label col-sm-2">Rent</label>
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <input class="form-control" type="number" min="0" value="{{ e_rent }}" step="0.01" placeholder="Enter expected rent" id="e_rent" name="e_rent">
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <input class="form-control" type="number" min="0" value="{{ a_rent }}" step="0.01" placeholder="Enter actual rent" id="a_rent" name="a_rent" onchange="smileChange();">
                </div>
            </div>
            
            <div class="form-group">
                <label for="e_utilities" class="control-label col-sm-2">Utilities</label>
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <input class="form-control" type="number" min="0" value="{{ e_util }}" step="0.01" placeholder="Enter expected utilities" id="e_util" name="e_util">
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <input class="form-control" type="number" min="0" value="{{ a_util }}" step="0.01" placeholder="Enter actual utilities" id="a_util" name="a_util">
                </div>
            </div>
            
            <div class="form-group">
                <label for="e_food" class="control-label col-sm-2">Food/ Groceries</label>
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <input class="form-control" type="number" min="0" value="{{ e_food }}" step="0.01" placeholder="Enter expected food" id="e_food" name="e_food">
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <input class="form-control" type="number" min="0" value="{{ a_food }}" step="0.01" placeholder="Enter actual food" id="a_food" name="a_food">
                </div>
            </div>
            
            <div class="form-group">
                <label for="e_ent" class="control-label col-sm-2">Entertainment</label>
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <input class="form-control" type="number" min="0" value="{{ e_ent }}" step="0.01" placeholder="Enter expected entertainment" id="e_ent" name="e_ent">
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <input class="form-control" type="number" min="0" value="{{ a_ent }}" step="0.01" placeholder="Enter actual entertainment" id="a_ent" name="a_ent">
                </div>
            </div>
            
            <div class="form-group">
                <label for="e_save" class="control-label col-sm-2">Savings</label>
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <input class="form-control" type="number" min="0" value="{{ e_save }}" step="0.01" placeholder="Enter expected savings" id="e_save" name="e_save">
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <input class="form-control" type="number" min="0" value="{{ a_save }}" step="0.01" placeholder="Enter actual savings" id="a_save" name="a_save" onchange="smileChange();">
                </div>
            </div>
            
            <div class="form-group">
                <div id="reminder" style="color:red;"></div>
                <button class="btn btn-primary" type="submit">Save Budget</button>
            </div>
        </fieldset>
    </form>
    
    
    <div class="smiles">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <h4>Rent Spending</h4>
            </div>
            <div class="col-sm-4">
                <h4>Savings</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <div id="rent">
                    {% if rent < 0 %}
                        <span style="color:gray;">Enter actual income and rent</span>
                    {% elif rent >= 0 and rent < 25 %}
                        <span style="color:green; font-size: 20px">&#9786;</span><span style="color:green;"> You're looking great!</span>
                    {% elif rent >= 25 and rent < 35 %}
                        <span style="color:#e1e509; font-size: 20px">&#9863;</span><span style="color:#e1e509;"> Rent spending is okay</span>
                    {% elif rent >= 35 %}
                        <span style="color:red; font-size: 20px">&#9785;</span><span style="color:red;"> Spending too much on rent</span>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-4">
                <div id="saved">
                    {% if saved < 0 %}
                        <span style="color:gray;">Enter actual income and savings</span>
                    {% elif saved >= 0 and saved < 10 %}
                        <span style="color:red; font-size: 20px">&#9785;</span><span style="color:red;"> Cut back and save more</span>
                    {% elif saved >= 10 and saved < 20 %}
                        <span style="color:#e1e509; font-size: 20px">&#9863;</span><spanstyle="color:#e1e509;"> Consider saving a bit more</span>
                    {% elif saved >= 20 %}
                        <span style="color:green; font-size: 20px">&#9786;</span><span style="color:green;"> Great job saving!</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}