{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="about">
        <div class="row">
            <h2>Learn More About BudgetWise</h2>
        </div>
        <div class="row">
            <a class="btn btn-primary" href="{{ url_for('about') }}" role="button">About Us</a>
        </div>
    </div>
    
    <div class="budgets">
        <div class="row">
            <h2>The Budgets Start Here</h2>
        </div>
        <div class="row">
            <a class="btn btn-primary" href=# role="button">Start Budgeting</a>
        </div>
    </div>
    
    <div class="tips">
        <div class="row">
            <h2>We Are Here to Help You</h2>
        </div>
        <div class="row">
            <a class="btn btn-primary" href=# role="button">Get Tips</a>
        </div>
    </div>
{% endblock %}