{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="headline">
        <div class="row">
            <span><img src="https://media.glassdoor.com/sqll/541092/bw-shipping-pte-squarelogo.png" width="50" height="50"/></span>
            <span class="h1">BudgetWise</span>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-4">
            <div class="col-sm-1"></div>
            <div class="about col-sm-10 lgray">
                <div class="row">
                    <h3>Learn About BudgetWise</h3>
                </div>
                <p>Learn more about the purpose<br>of the BudgetWise site,<br>and also who the<br>creator of the site is.</p>
                <div class="row">
                    <a class="btn btn-primary" href="{{ url_for('about') }}" role="button">About Us</a>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    
        <div class="col-sm-4">
            <div class="col-sm-1"></div>
            <div class="budgets col-sm-10 lgray">
                <div class="row">
                    <h3>The Budgets Start Here</h3>
                </div>
                <p>This is what you came for!<br>Click below to start<br>filling out your budget<br>and you'll be in control<br>in no time!</p>
                <div class="row">
                    <a class="btn btn-primary" href="{{ url_for('budget') }}" role="button">Start Budgeting</a>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    
        <div class="col-sm-4">    
            <div class="col-sm-1"></div>
            <div class="articles col-sm-10 lgray">
                <div class="row">
                    <h3>Want to Get Rich Slowly?</h3>
                </div>
                <p>You don't need to figure<br>it all out on your own.<br>See what the community<br>has to say about<br>managing money and budgeting.</p>
                <div class="row">
                    <a class="btn btn-primary" href="{{ url_for('articles') }}" role="button">Learn More</a>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
{% endblock %}