{% extends "layout.html" %}

{% block title %}
    Welcome to BudgetWise
{% endblock %}

{% block main %}
    <style type="text/css">
        body
        {
            background: url("https://image.freepik.com/free-photo/close-up-of-financial-report-with-businesspeople-background_1098-4069.jpg") no-repeat;
            background-size: 100%;
        }
    </style>
    
    <h1 class="catch">Let's work together</h1>
    <h4>Managing finances can be a difficult task. That's why our team at BudgetWise is here.</h4>
    <h4>We help you stay on top of your money so you can enjoy life.</h4>
    <br>
    <a class="btn btn-primary" href=# role="button"><span class="glyphicon glyphicon-lock"></span> Sign Up Free</a>
{% endblock %}